.flex-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.statRow {
    margin-bottom: 4px;
}

.statRow input {
    text-align: right;
}

.statRow input, .statRow button {
    margin-left: 5px;
    margin-right: 5px;
}

.statRow button {
    width: 50px;
}

.rowLabel {
    position: absolute; 
    left: 0px;
}

#divInputs input[type="number"] {
    width: 90px;
    color: #d0d0d0;
}

#txtNotes {
    width: 100%;
}

#txtMoney::before {
    content: "$";
}

.statRow p {
    padding-top: 8px;
}


.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}

.glyphicon, .fa {
    margin-right: 4px;
}



@media (max-width: 480px) {
    .extraButton {
        display: none;
    }
}


@media (max-width: 400px) { 
    #pInfrac {
        font-size: 10px;
        padding-top: 12px;
    }
}

.inlineContents > button {
    display: inline-block;
}

#spnBottomButtons {
    margin-bottom: 12px;
    display: inline-block;
}
